@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background: #334155;
  font-family: "Roboto", sans-serif;
}
.calculator-section {
  max-width: 70rem;
  margin: 20rem auto;
}

.display-box {
  height: 10rem;
  width: 100%;
  background: #d1d5db;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #333;
}
.display-box1 {
  padding: 1rem 1rem 0 0;
  font-size: 1.8rem;
  opacity: 0.4;
}
.display-box2 {
  padding: 1rem 1rem 0 0;
  font-size: 3rem;
  font-weight: 600;
}
.temporary-box {
  align-self: flex-start;
  font-size: 1.8rem;
  padding: 0 0 0 3rem;
  opacity: 0.4;
}

.keys {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.key-btn {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.btn {
  height: 5rem;
  font-size: 2rem;
  color: whitesmoke;
  background: #52525b;
  border: 1px solid #27272a;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.zero-key {
  grid-column: span 2;
}
.btn.main-operators {
  background: #44403c;
}
.rad {
  border-radius: 0 0 0 1rem;
}
.equal {
  border-radius: 0 0 1rem 0;
  font-size: 3.2rem;
}
.btn:hover {
  background: #09090b;
}

/**********************************************/
/* BELOW 600px*/
/**********************************************/
@media (max-width: 35em) {
  .calculator-section {
    margin-top: 5rem;
  }
  .keys {
    grid-template-columns: 1fr;
  }
  .rad {
    border-radius: 0;
  }
  .rand {
    border-radius: 0 0 0 1rem;
  }
}
